*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*Colors*/
  --clr-primary: #002e6d;
  --clr-contrast: #f3f3f3;
  --clr-accent: #fa6e19;
  --clr-secondary: #084395;
  --clr-footer-top: #142847;

  /*Element sizes*/
  /*Cannot use variables in media queries. Would be ideal for responsiveness. Still writting sizes here to have as reference
  Using px instead of rem to trigger based on screen size
  */
  --wd-regular: 1400px;
  --wd-btn-regular: 11rem;
  --wd-btn-small: 9.8rem;
  --wd-three-columns: 24.1875rem;
  --wd-three-columns-medium: 18.3875rem;
  --wd-four-columns: 17.8125rem;

  --wd-slider-item: 18.6875rem;

  --hg-separator-line: 0.5625rem;
  --hg-separator-line-responsive: 0.3125rem;
  --hg-header: 6.3125rem;

  --hg-footer-top-section: 17.6875rem;
  --hg-footer-bottom-section: 5.6875rem;
  --hg-footer: calc(
    var(--hg-footer-top-section) + var(--hg-footer-bottom-section)
  );

  --hg-btn: 2.69rem;

  --pd-x: 6.13rem;
  --pd-x-medium: 2rem;
  --pd-x-small: 1.56rem;
  --pd-x-internal-page: 18.88rem;
  --pd-y-big: 4.5rem;
  --pd-y-medium: 2.62rem;
  --pd-y-small: 2rem;
  --pd-y-heading-big: 2.62rem;
  --pd-y-heading-medium: 1.75rem;
  --pd-y-heading-small: 1.5rem;

  /*Font sizes*/
  --fnt-sz-regular: 0.78125rem;
  --fnt-sz-regular: 0.75rem;
  --fnt-sz-h1: 3.375rem;
  --fnt-sz-h2: 2.25rem;
  --fnt-sz-h2-medium: 1.625rem;
  --fnt-sz-h3: 1.875rem;
  --fnt-sz-h3: 1.75rem;
  --fnt-sz-h3-medium: 1.375rem;
  --fnt-sz-h4: 1.25rem;
  --fnt-sz-h5: 0.9375rem;
  --fnt-sz-footer: 0.5625rem;
  --fnt-sz-footer-top: 0.6875rem;

  /*Font weight*/
  --fnt-wg-regular: 500;
  --fnt-wg-medium: 600;
  --fnt-wg-bold: 700;

  /*Line Heights*/
  --line-hg-regular: 1.125rem;
  --line-hg-h1: 3.6875rem;
  --line-hg-h2: 2.5625rem;
  --line-hg-h2-medium: 2rem;
  --line-hg-h3: 1.5625rem;

  --brdr-left-top-radius: 2.9375rem;
}
html,
body {
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--clr-primary);
  font-family: 'obviously', sans-serif;
  font-size: var(--fnt-sz-regular);
  line-height: var(--line-hg-regular);
  color: var(--clr-contrast);
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

a {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  color: var(--clr-contrast);
}

a:hover {
  color: var(--clr-accent);
}

a:hover svg.icons path {
  fill: var(--clr-accent);
}

button {
  all: unset;
}

button:hover {
  cursor: pointer;
}

/*Global classes*/

.g-top-footer-articles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8.0625rem;
}


@media (max-width: 648px) {
   .g-top-footer-articles {
    height: auto;
  }
}