---
//Import assets
import { collapsibleArrowHeader } from '@assets/icons';

//Import stores
// import { seasonSelected} from '../../svelte/stores';

//Import functions
import { seasonToEndpointMapper } from '@utils/helperFunctions';

const { item } = Astro.props;

---

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    let buttons = document.querySelectorAll('#drop-down-menu');
    function handleClick(this: any) {
      let divArrow = this.querySelector('.rotate');
      divArrow.classList.toggle('rotated');

      let dropDown =
        this.nextElementSibling.nextElementSibling.querySelector('.nav'); // Adjusted this line
      dropDown.classList.toggle('show');

      this.setAttribute('aria-expanded', dropDown.classList.contains('show'));
    }

    // Check if the device does not support hover
    if (window.matchMedia('(hover: none)').matches) {
      // Add the event listener to each button
      buttons.forEach(function (button) {
        button.addEventListener('click', handleClick);
      });
    } else {
      // Remove the event listener from each button
      buttons.forEach(function (button) {
        button.removeEventListener('click', handleClick);
      });
    }
  });
</script>

<div class='dropdown'>
  <button
    id='drop-down-menu'
    aria-haspopup='true'
    aria-expanded='false'
  >
    {item.name.toUpperCase()}
    <div class='rotate'>
      <Fragment set:html={collapsibleArrowHeader} />
    </div>
  </button>
  <div class='bridge'></div>
  <nav class='nav'>
    <h4>TEMPORADES</h4>
    <ul
      id='myDropdown'
      class='dropdown-content'
    >
      {
        item.dropdown.map((dropDownItem: string) => (
          <li>
            <a
              href={'#seasons-timeline'}
            >
              {dropDownItem}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>

<style>
  .dropdown {
    position: relative;
    display: inline-block;
  }

  @media (hover: hover) {
    .dropdown:hover .nav {
      display: block;
    }

    .dropdown:hover .rotate {
      transform: rotate(-180deg);
    }
  }

  .bridge {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2.5rem;
    background-color: transparent;
  }

  .nav {
    display: none;
    position: absolute;
    background-color: var(--clr-primary);
    color: var(--clr-contrast);
    top: 2.5rem;
    padding-inline: 1.31rem;
    padding-block: 0.81rem;
    width: 19rem;
    z-index: 1;
  }
  h4 {
    padding-bottom: 0.81rem;
    font-size: var(--fnt-sz-regular);
    font-weight: var(--fnt-wg-regular);
  }

  .dropdown-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.75rem;
  }

  .dropdown-content:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 0.71875rem solid transparent;
    border-right: 0.71875rem solid transparent;
    border-bottom: 0.9375rem solid var(--clr-primary);
    position: absolute;
    top: -0.85rem;
    left: 10%;
  }
  .dropdown-content a {
    display: block;
  }
  a {
    font-weight: var(--fnt-wg-light);
  }
  .show {
    display: block;
  }
  .rotate {
    display: inline-block;
    transform: rotate(0);
    transform-origin: 60% 55%;
    transition: 0.45s transform ease-in-out;
  }

  .rotated {
    transform: rotate(-180deg);
  }

  @keyframes slideInFromTop {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .dropdown-content a {
    animation-name: slideInFromTop;
    animation-duration: 0.5s; 
    animation-fill-mode: forwards; 
  }
</style>
../../svelte/stores