---
const { title, author, href, image } = Astro.props;
---

<a href={href} class="especials-box">
  <article class="especials-box">
    <div class="image-container">
      <img src={image} alt="" loading="eager" />
    </div>
    <div class="info-container">
      <h3 class="article-name">{title}</h3>
      <p class="author">
        {author}
      </p>
    </div>
  </article>
</a>

<style>
  .especials-box {
    width: 29rem;
    height: 18rem;
    color: var(--clr-contrast);
  }

  .article-name {
    padding: 0rem;
    color: var(--clr-contrast);
    font-size: 1.15rem;
    font-weight: 500;
  }

  .image-container {
    height: 70%;
    width: 100%;
    background-color: #d9d9d9;
    overflow: hidden;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    margin: auto;
  }

  .info-container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding-left: var(--pd-x-small);
    line-height: 1.2;
    background-color: var(--clr-primary);
    color: var(--clr-contrast);
  }

  .author {
    font-size: 0.7rem;
  }

  @media (max-width: 648px) {
    .especials-box {
      width: 100%;
      height: 22rem;
    }
    .info-container {
      height: 30%;
    }
  }
</style>
