---
---

<section>
  <img src="/court-lines.avif" alt="Dibuix d'una pista de bàsquet" />
</section>

<style>
  section {
    background-color: var(--clr-contrast);
    height: 100dvh;
    padding-inline: var(--pd-x)
  }
   img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 64%;
  }
</style>