---
//Import data
import { socialMediaInfo } from '@data/apiData';

interface TitleMap {
  [key: string]: string;
}

const titleMap: TitleMap = {
  instagram: 'Instagram',
  facebook: 'Facebook',
  'x.com': 'Twitter',
  youtube: 'Youtube',
  twitch: 'Twitch',
};

function getTitle(title: string) {
  const lowerCaseTitle = title.toLowerCase();
  for (let socialMediaName in titleMap) {
    if (lowerCaseTitle.includes(socialMediaName)) {
      return titleMap[socialMediaName];
    }
  }
  return 'TikTok';
}
---

<nav>
  <ul>
    {
      socialMediaInfo.map((socialMediaItem) => {
        return (
          <li>
            <a
              title={getTitle(socialMediaItem.title)}
              href={
                socialMediaItem.title.toLowerCase().includes('tiktok')
                  ? `https://www.tiktok.com/${socialMediaItem.caption}`
                  : socialMediaItem.caption
              }
              target='_blank'
              rel='noopener noreferrer'
            >
              <img
                src={socialMediaItem.url}
                alt={socialMediaItem.alt}
              />
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>

<style>
  nav {
    width: 11.0544rem;
    height: 1.09956rem;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    display: flex;
    align-items: center;
  }

  @media (max-width: 648px) {
    nav {
      width: inherit;
    }
  }
</style>
