---
import { bottomFooterLinks } from '@data/apiData';
---

{
  bottomFooterLinks.map((link) =>
    link.link.includes('http') ? (
      <a
        href={link.link}
        class='g-underline-links'
        target='_blank'
        rel='noopener noreferrer'
      >
        {link.name}
      </a>
    ) : (
      <a
        href={link.link}
        class='g-underline-links'
      >
        {link.name}
      </a>
    )
  )
}

<style>
  a {
    font-size: var(--fnt-sz-footer);
  }

  a:not(:last-child) {
    margin-right: 1.62rem;
  }

  @media (max-width: 1025px) {
    a {
      font-size: 0.75rem;
    }
  }
</style>
