---
//Import components
import SocialMediaMenu from "@components/footer/SocialMediaMenu.astro";
import BottomFooterLinks from "./BottomFooterLinks.astro";
import Copyright from "./Copyright.svelte";
---

<div class="bottom-footer-container-responsive">
  <BottomFooterLinks />

  <div class="social-container">
    <SocialMediaMenu />
  </div>

  <div>
    <Copyright client:visible />
  </div>
</div>

<style>
  .bottom-footer-container-responsive {
    display: grid;
    grid-template-columns: 5rem 8rem auto 15rem;
  }

  .social-container {
    grid-column-start: 4;
    justify-self: end;
  }

  .bottom-footer-container-responsive div:last-child {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    justify-self: center;
  }
  @media (max-width: 1025px) {
    .bottom-footer-container-responsive {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 2.12rem;
    }
    .social-container {
      grid-row-start: 1;
      justify-self: end;
    }
    .bottom-footer-container-responsive div:last-child {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 5;
      justify-self: center;
    }
  }

  @media (max-width: 648px) {
    .bottom-footer-container-responsive {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;
    }
    .social-container {
      grid-column-start: span 2;
      justify-self: center;
      grid-row-start: 3;
      width: 100%;
    }
    .bottom-footer-container-responsive div:last-child {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
</style>
